$baseFontFamily: Oxygen;
/*less uses @ signs, sass uses $ signs*/
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';


.navbar-inner {
	/*Hides the shadow bar under the navbar*/
	@include box-shadow(none !important);
	border: 0;
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}